<h1>Latest Posts</h1>

<article>
	<% @articles.each do |a| %>
		<h3><%= link_to a.title, article_path(a) %></h3>
		<div class="row">
			<div class="col-sm-6 col-md-6 col-xs-6">
				<span class="glyphicon glyphicon-folder-open"></span>  <a href="#">Signs</a>
                <span class="glyphicon glyphicon-bookmark"></span> <a href="#">Aries</a>, <a href="#">Fire</a>, <a href="#">Mars</a>
			</div>
			<div class="group2 col-sm-6 col-md-6 col-xs-6">
                <span class="glyphicon glyphicon-pencil"></span> <%= a.comments.count %> Comments</a>
                <span class="glyphicon glyphicon-time"></span> <%= a.created_at.localtime.strftime('%d-%m-%Y %H:%M') %>
        	</div>
		</div>
		<hr/>
		<%= a.text %>
		<p>
		<%= link_to "Show", article_path(a) %> | 
		<%= link_to "Edit", edit_article_path(a) %> |
		<%= link_to "Delete", a, method: :delete, data: { confirm: 'Are you sure?'} %>
		</p>
		<hr/>
	<% end %>
</article>
