<h1><%= t('headers.articles.article_index') %></h1>

<article>
	<% @articles.each do |a| %>
		<h3><%= link_to a.title, article_path(a) %></h3>
		<div class="row">
			<div class="col-md-7 col-xs-12">
				<span class="glyphicon glyphicon-time"></span> Создан: <%= a.created_at.localtime.strftime('%d-%m-%Y %H:%M') %>
			</div>
			<div class="col-md-5 col-xs-12">
				<div class='pull-right'>
					<span class="glyphicon glyphicon-user"></span> Автор: <%= a.author %> 
                	<span class="glyphicon glyphicon-pencil"></span> Комментариев: <%= a.comments.count %>
                </div>
        	</div>
		</div>
		<br/><img src="img/900x300.jpg" class="img-responsive"><br/>
		<%= a.text %>
		<br/><br/>
					
		<p class="text-right"><%= link_to "Подробнее...", article_path(a) %></p>
			
		<hr/>
	<% end %>
</article>

<nav>
	<ul class="pager">
		<li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
		<li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
	</ul>
</nav>
