<h2><%= t('headers.articles.article_new') %></h2>

<% if @contact && @contact.errors.any? %>
	<p>
		<ul>
			<% @contact.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</p>
<% end %>

<%= form_for :article, url: articles_path do |f| %>
	<%= f.hidden_field :author, value: current_user.username %>
	<div class="form-group">
		<%= f.label :title, "Заголовок" %>
		<%= f.text_field :title, class: "form-control", placeholder: "Текст заголовка" %>
	</div>
	<div class="form-group">
		<%= f.label :text, "Текст" %> 
		<%= f.text_area :text, class: "form-control", rows: "6", placeholder: "Текст статьи" %>
	</div>
	<p><%= f.submit "Опубликовать", class: "btn btn-primary" %></p>
<% end %>