<h1>New article</h1>

<%= form_for :article, url: articles_path do |f| %>
	<p>
		<div><%= f.label :title %></div><br/> 
		<div><%= f.text_field :title %></div>
	</p>
	<p>
		<div><%= f.label :text %></div><br/> 
		<div><%= f.text_area :text %></div>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>