<h1>Статья №: <%= @article.id %></h1>
<h3><%= @article.title %></h3>
<%= @article.text %>
<hr/>
<%= link_to "Show all articles", articles_path %>
<hr/>
<h2>Комментарии:</h2>
<% @article.comments.each do |a| %>
	<%= a.body %><br/>
	Написал: <%= a.author %>
	<hr/>
<% end %>
<%= form_for([@article, @article.comments.build]) do |f| %>
	<p>
		<%= f.label :author %><br/>
		<%= f.text_field :author %>
	</p>
	<p>
		<%= f.label :body %><br/>
		<%= f.text_area :body %>
	</p>
	<%= f.submit %>
<% end %>