<h1><%= @article.title %> <i>Статья №: <%= @article.id %></i></h1>
<%= @article.text %>
<hr/>
<%= link_to "Show all articles", articles_path %>
<hr/>
<h2>Комментарии:</h2>
<% @article.comments.each do |с| %>
	<i><%= с.author %> сказал:</i><br/>
	<%= с.body %>
	<hr/>
<% end %>
<h2>Добавить комментарий</h2>
<%= form_for([@article, @article.comments.build]) do |f| %>
	<p>
		<%= f.label :author %><br/>
		<%= f.text_field :author %>
	</p>
	<p>
		<%= f.label :body %><br/>
		<%= f.text_area :body %>
	</p>
	<%= f.submit %>
<% end %>