<h2><%= @article.title %></h2>
<%= @article.text %>
<hr/>

<% if user_signed_in? && @article.author == current_user.username %>
	<p class="text-right"> 
		<%= link_to "Редактировать", edit_article_path(@article) %> |
		<%= link_to "Удалить", @article, method: :delete, data: { confirm: 'Are you sure?'} %>
	</p>
<% end %>

<h3>Комментарии:</h3>
<% @article.comments.each do |с| %>
	<i><%= с.author %> сказал:</i><br/>
	<%= с.body %>
	<hr/>
<% end %>

<% if !@comment_flash.nil? %>
	<div class="alert alert-warning" id="fl1">
		<a href="#" data-dismiss="alert" class="close">×</a>
		<%= @comment_flash %>
	</div>
<% end %>

<% if !current_user.nil? %>
	<%= form_for([@article, @article.comments.build]) do |f| %>
		<%= f.hidden_field :author, value: current_user.username %>
		<div class="form-group">
			<%= f.label :body, "Добавить комментарий" %><br/>
			<%= f.text_area :body, class: "form-control", rows: "4", placeholder: "Текст комментария" %>
		</div>
		<p><%= f.submit "Добавить", class: "btn btn-primary btn-sm" %></p>
	<% end %>
<% else %>
	<h4>Чтобы добавить комментарий вы должны авторизоваться</h4>
<% end %>

<script type="text/javascript">

	$("body").scrollTop($("#fl1").position().top);

</script>