<h2><%= @article.title %></h2>
<%= @article.text %>
<hr/>
<h3>Комментарии:</h3>
<% @article.comments.each do |с| %>
	<i><%= с.author %> сказал:</i><br/>
	<%= с.body %>
	<hr/>
<% end %>

<% if !current_user.nil? %>
	<%= form_for([@article, @article.comments.build]) do |f| %>
		<%= f.hidden_field :author, value: current_user.username %>
		<div class="form-group">
			<%= f.label :body, "Добавить комментарий" %><br/>
			<%= f.text_area :body, class: "form-control", rows: "4" %>
		</div>
		<p><%= f.submit "Добавить", class: "btn btn-primary btn-sm" %></p>
	<% end %>
<% elsif %>
	<h4>Чтобы добавить комментарий вы должны авторизоваться</h4>
<% end %>