<h1><%= @article.title %> <i>Статья №: <%= @article.id %></i></h1>
<%= @article.text %>
<hr/>
<%= link_to "Show all articles", articles_path %>
<hr/>
<h2>Комментарии:</h2>
<% @article.comments.each do |с| %>
	<i><%= с.author %> сказал:</i><br/>
	<%= с.body %>
	<hr/>
<% end %>

<% if !current_user.nil? %>
	<h2>Добавить комментарий</h2>
	<%= form_for([@article, @article.comments.build]) do |f| %>
		<%= f.hidden_field :author, value: current_user.username %>
		<p>
			<%= f.label :body %><br/>
			<%= f.text_area :body %>
		</p>
		<%= f.submit %>
	<% end %>
<% elsif %>
	<h3>Чтобы добавить комментарий вы должны авторизоваться</h3>
<% end %>