<h2><%= t('headers.contacts.contact_us') %></h2>

<% if @contact && @contact.errors.any? %>
	<p>
		<ul>
			<% @contact.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</p>
<% end %>

<%= form_for :contact, url: contacts_path do |f| %>
	<div class="form-group">
		<%= f.label :email, "e-mail" %> 
		<%= f.text_field :email, class: "form-control", placeholder: "ivanov@mail.com" %>
	</div>
	<div class="form-group">
		<%= f.label :message, "Ваше сообщение" %>
		<%= f.text_area :message, class: "form-control", placeholder: "Текст сообщения", rows: "4" %>
	</div>
	<p><%= f.submit 'Отправить сообщение', class: "btn btn-primary btn-sm" %></p>
<% end %>