<div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse-1" aria-expanded="false">
                	<span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <%= link_to root_path, class: "navbar-brand" do %>
					<span class="glyphicon glyphicon-globe"></span>
				<% end %>

</div>

<nav class="collapse navbar-collapse" id="nav-collapse-1">
            	
    <p class="navbar-text navbar-right">
       	<% if user_signed_in? %>
			<%= t('navbar.nav_who') %> <b><%= current_user.username %></b> | 
			<%= link_to t('navbar.nav_sign_out'), destroy_user_session_path, method: :delete, class: "navbar-link" %>
		<% else %>
			<%= link_to t('navbar.nav_sign_in'), new_user_session_path, class: "navbar-link" %>
		<% end %>
	</p>
                	   	
    <%= form_tag({action: 'index', controller: '/home'}, {method: "get", class: "navbar-form navbar-right"}) do %>
    	<div class="form-group">
  			<%= text_field_tag(:search_input, nil, :placeholder => t('navbar.nav_search_placeholder'), :class => "form-control") %>
  		</div>
  		<%= button_tag(t('navbar.nav_search_button'), :class => "btn btn-default") %>
	<% end %>

    <ul class="nav navbar-nav">
        <li><%= link_to t('navbar.nav_home'), root_path %></li>
        <li><%= link_to t('navbar.nav_contact'), new_contacts_path %></li>
        <li><%= link_to t('navbar.nav_new_article'), new_article_path %></li>
        <li><%= link_to t('navbar.nav_about'), about_path %></li>
        <li><%= link_to t('navbar.nav_terms'), terms_path %></li>
        <li><%= link_to "home/index", home_index_path %></li>
    </ul>
                
</nav>