<!DOCTYPE html>
<html>
<head>
  <!-- Bootstrap scale for platforms -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Meta info --> 
  <meta name="description" content="Blog with Rails">
  <meta name="author" content="Alexander Zhadnov">

  <!-- Project name -->
  <title>RailsBlog</title>

  <!-- Rails service files -->
  	<!-- Service javascript frameworks connection -->
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<!-- Cross-site request forgery protection -->
  	<%= csrf_meta_tags %>
  	
  <!-- Bootstrap JS file -->
  <%= javascript_include_tag "/bootstrap-3.3.6/js/bootstrap.min" %>

  <!-- Bootstrap CSS files --> 
  <%= stylesheet_link_tag "/bootstrap-3.3.6/css/bootstrap.min", "/bootstrap-3.3.6/css/bootstrap-theme.min" %>

  <!-- Rails application css file (goes after Bootstrap to override it) -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>

<body>

	<!-- Navigation bar -->
	<header class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
	        <%= render "layouts/navbar" %>
        </div>
	</header>

	<div id="body" class="container">
		
		<!-- Main page -->	
		<div class="row">

			<!-- Main content part -->
			<div class="col-md-9">
				<%= render "layouts/flash_messages" %>
				<%= yield %>
			</div>
			
			<!-- Side bar -->
			<div class="col-md-3">
				<%= render "layouts/sidebar" %>
			</div>

		</div>
	
	</div>

	<footer>
		<div class="container">
        	-- Copyright information --
        </div>
    </footer>
</body>
</html>
